body {
    background-color: navy;
}
nav {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 4opx;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-bottom: ;
}

.right {
    display: flex;
    gap: 40px;
    color: white;
    align-items: center;
}
a {
    color: white;
    text-decoration: none;
}

.link_container {
    display: flex;
    gap: 40px;
}

button {
    /* width: 100px; */
    font-size: 14px;
    height: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    background-color: aquamarine;

}

main {
    background-color: red;
    height: fit-content;
}

aside {
    display: flex;
    f

}