.flex {
    display: flex;
    background-color: aqua;
    flex-direction: row;
    justify-content: space-evenly;

}


.flex div {
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border: 2px solid black;
    /* gap: 20px; */
    flex

}