body {
    background-color: navy;
    position: relative;
}
nav {
    display: flex;
    justify-content: space-between;
    /* margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px; */
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 10px 20px;
    left: 0px;
    top: 0px;
    right: 0px;
    position: fixed;
    align-items: center;
    z-index: 2;
}

.right {
    display: flex;
    gap: 40px;
    color: white;
    align-items: center;
}
a {
    color: white;
    text-decoration: none;
}

.link_container {
    display: flex;
    gap: 40px;
}

button {

    font-size: 14px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    background-color: aquamarine;

}

main {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    

}

aside {
    color: white;
    font-size:30px;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px; 
    position: fixed;
    padding-top: 30px;
    padding-bottom: 30px;
    top: 50px;
    left: 40px;
    z-index: 1;
}

.para {
    font-size: 20px;
    color: white;
    margin-left: 100px;
    margin-right: 100px;;
    display: flex;
    tex
}