nav {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 4opx;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right {
    display: flex;
    gap: 40px;
}

.link_container {
    display: flex;
    gap: 40px;
}

button {
    width: 10px;
    height: 20px
}
